<!DOCTYPE html>
<html>
    <head>
        <title>Favorite Game</title>
    </head>
    <body>
        <h1>First web site</h1>
        <form action="/Favorites" method = "post">
            <input First Name="firstname" placeholder="First Name" type="text">
            <br>
            <br><input Last Name="lastname" placeholder="Last Name" type="text">

            <select game = "game">
                <option value="League of Legends">League of Legends</option>
                <option value="CS GO">CS GO</option>
                <option value="Battlefield 5">Battlefield 5</option>
                <option value="Red Dead Redemtion">Red Dead Redemtion</option>
                <option disabled value ="CyberPunk 2077">CyberPunk 2077</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>